// Цветовая схема проекта

// Primary
$primary: #022456;
$primary-color: #022456;

// Secondary
$secondary: #c90237;
$secondary-color: #c90237;

// Success
$success: #28a745;
$success-color: #28a745;

// Danger
$danger: #dc3545;
$danger-color: #dc3545;

// Warning
$warning: #ffc107;
$warning-color: #ffc107;

// Info
$info: #3498DB;

// Light
$light: #f8f9fa;
$light-color: #f8f9fa;

// Dark
$dark: #343a40;
$dark-color: #343a40;

// Link
$link: #2980B9;
$link-color: #2980B9;