// Переопределение переменных
$font-stack: Roboto, sans-serif;
$font-family-primary: Roboto, sans-serif;

$delay: 0.5s;

$size-1: 0.25rem;
$size-2: 0.5rem;
$size-3: 1rem;
$size-4: 1.5rem;
$size-5: 3rem;

$text-big-size: 8rem;

$tooltip-color: $dark;
$tooltip-bg: $secondary;
$tooltip-opacity: 1;