<ul class="list-group list-group-flush">
  {% for department in departments %}
    {% if not department.parent %}
      <li class="list-group-item">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="department" value="{{ department.id }}" id="department-{{ department.id }}" hx-get="{% url 'employee_list' %}" hx-target="#employee-cards" hx-trigger="change" hx-include="[name='q']" />
          <label class="form-check-label" for="department-{{ department.id }}"><i class="bi bi-folder"></i> {{ department.name }}</label>
        </div>

        {% if department.children.all %}
          <ul class="list-group list-group-flush ms-3 mt-2">
            {% for child in department.children.all %}
              <li class="list-group-item">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="department" value="{{ child.id }}" id="department-{{ child.id }}" hx-get="{% url 'employee_list' %}" hx-target="#employee-cards" hx-trigger="change" hx-include="[name='q']" />
                  <label class="form-check-label" for="department-{{ child.id }}"><i class="bi bi-folder2"></i> {{ child.name }}</label>
                </div>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}

  <li class="list-group-item">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="department" value="" id="department-all" checked hx-get="{% url 'employees:employee_list' %}" hx-target="#employee-cards" hx-trigger="change" hx-include="[name='q']" />
      <label class="form-check-label" for="department-all"><i class="bi bi-house"></i> Все подразделения</label>
    </div>
  </li>
</ul>
